# Node.js modules
node_modules

# Git directories and files
.git
.gitignore

# Docker files
docker-compose.yml
compose.yaml
.dockerignore

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
*.log

# Temp files and OS-specific files
*.swp
.DS_Store
Thumbs.db

# Documentation and assets not needed in runtime
*.md
*.png
*.jpg
*.jpeg
*.svg
